<!---<header id="header">
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      <li><a href="/about/about/index.html">About me</a></li>
    </ul>
  </div>
</header>
-->

<header id="header">
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>


      {{ range .Site.Menus.main }}
        {{ if (eq .Name "About me") }}
          <li><a href="/aboutme/aboutme">About me</a></li>
        {{ else if (eq .Name "Misc") }}
          <li><a href="/misc/misc">Misc</a></li>        
        {{ else }}        
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}        
      {{ end }}
      
    </ul>
  </div>
</header>
