* {
  margin: 0;
}


canvas {
  border:2px solid black !important;
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



@-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
  from {-webkit-transform:rotateY(0deg);transform:rotateY(0deg);}
  to {-webkit-transform:rotateY(360deg);transform:rotateY(360deg);}
}


body .page footer {
  color: white;
}

body .page footer a{
  color: white;
}

@font-face {
  font-family: 'MyWebFont';   
  src: url('fonts/PressStart2P.ttf')  format('truetype');
}
html, body {
  font-family: 'MyWebFont', roboto;
}

#gameover{
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gameover div {
  font-size: 30px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  text-decoration: underline;
}

#gameover div:hover {
  background-color: gray;
  color:white;

}

#game-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

#introtext {
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  width: 800px;
}

#play{
  width: 200px;
  height: 60px;
  border: 0;
  margin-top: 50px;
  text-align: center;

  /*Tohle je vzhled*/
  font-family: 'MyWebFont', roboto;
  font-size: 40px;    
  font-weight: bold;
  background-color: lightgray;
  color: gray;
  cursor: pointer;
}

#cv{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;   
}


#game{
  display: none;
}

#score {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: black;
}


#hs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}

.footer{
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: rgb(62, 62, 62);
  height: 120px;
}


#rotate-svg{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10s;    
  -webkit-animation-iteration-count: ingameoverite;
  animation-name: spin;
  animation-duration: 10s;    
  animation-iteration-count: ingameoverite;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: inline-block;    
}